<div class="not-found-page">
    <div class="not-found-page__404">
        <span class="not-found-page__404_4"></span>
        <span class="not-found-page__404_0"></span>
        <span class="not-found-page__404_4"></span>
    </div>
    <div class="not-found-page__text"> Page not found ;( </div>
    <button class="not-found-page__button" (tap)="onDashboardsNavigate()"> Go to dashboards </button>
</div>
