// -- base colors scheme --
@total-white:               #FFFFFF;

@base-gray:                 #F5F6F9;
@support-gray:              #F2F3F4;
@light-gray:                #BABACA;
@accent-gray:               #79798B;

@light-carbon:              #9698A5; // ??
@accent-carbon:             #494C62;

@total-black:               #000000;

@light-violet:              #B9BCEF;
@accent-violet:             #8E9AF0;
@support-violet:            #E5E6F7;

@light-yellow:              #FFF8E0;
@accent-yellow:             #FFC700;

@light-green:               #E9F8F3;
@accent-green:              #4AC99B;

@light-flame:               #FDEAE4;
@accent-flame:              #F45725;
@support-flame:             #FF8078;

@light-sky:                 #EDF6FE;
@accent-sky:                #70B6F6;

// -- base project colors --
@c-base-background:         @base-gray;

@c-primary-button:          @support-violet;
@c-primary-button_disabled: lighten(@c-primary-button, 3%);
@c-primary-button_hover:    darken(@c-primary-button, 5%);
@c-primary-button_active:   darken(@c-primary-button, 15%);

@c-secondary-button:        @support-gray;
@c-secondary-button_hover:  darken(@c-secondary-button, 5%);
@c-secondary-button_active: darken(@c-secondary-button, 15%);

@c-main-text:               @accent-carbon;
@c-main-text_hover:         @total-black;
@c-main-text_active:        @total-black;

@c-additional-text:         @accent-gray;
@c-additional-text_hover:   darken(@c-additional-text, 5%);
@c-additional-text_active:  darken(@c-additional-text, 15%);

@c-accent-text:             @accent-violet;
@c-accent-text_hover:       darken(@c-accent-text, 5%);
@c-accent-text_active:      darken(@c-accent-text, 5%);

@c-actions:                 @accent-violet;
@c-sub-actions:             @light-violet;

@c-component-border:        @support-gray;

@c-separator:               @support-violet;

@c-input-border:            @support-violet;
@c-input-border_hover:      darken(@c-input-border, 5%);
@c-input-border_active:     darken(@c-input-border, 15%);

@c-card-border:             @support-gray;
@c-card-border_hover:       darken(@c-card-border, 5%);
@c-card-border_active:      darken(@c-card-border, 15%);

@c-kanban-task-background:  @total-white;

@c-icon-default-background: @support-gray;
@c-icon-default-color:      @accent-gray;


